body {
  background-color: #282a3a;
  margin-top: 20px;
  text-align: center;
}
/* Heading */
h1 {
  color: #fff;
  padding: 20px 0;
}

/* Outer div */
.main,
.submain {
  max-width: 1100px;
  margin: auto;
}
.main {
  background-color: #191919;
}
.submain {
  background-color: black;
}

/* speed and no of bar range */
.range {
  width: 150px;
  margin-left: 30px;
  visibility: hidden;
}
.range-tag {
  color: #fff;
}
#arr-sz,
#swap-speed {
  width: 120px;
}

/* Buttons */
.btn {
  width: 110px;
  margin: 5px 0 0 5px;
  font-size: 0.8rem;
}

/* Animation bars */
.bars {
  padding: 20px 0;
  height: 400px;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.bar {
  background-color: yellow;
  margin: 1px;
  width: 6px;
  border-color: #fff;
  transition: 0.1s all ease;
}
